<div class="flex bg-default dark:bg-dark h-screen">
  <div class="flex flex-col bg-slate-100 dark:bg-slate-700 m-auto p-8 rounded-xl shadow-xl">
    <div>
      <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone number:</label>
      <div class="flex flex-row">
        <select
          id="countries"
          [(ngModel)]="countryCode"
          class="flex-shrink-0 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-white bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 sdark:text-white dark:border-gray-600">
          <option selected value="34">ES (+34)</option>
          <option value="33">FR (+33)</option>
        </select>

        <input
          type="number"
          id="phone"
          [(ngModel)]="phoneNumber"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm font-medium rounded-r-lg border-l-gray-100 dark:border-l-gray-700 border-l-2 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
          placeholder="123456789"
          required />
      </div>
    </div>
    <button (click)="openWhatsapp()" type="button" class="bg-green-500 mt-4 rounded-md text-white px-5 py-1.5 font-medium hover:bg-green-600">Open chat</button>
  </div>
</div>
